* {
    background-color:rgb(100, 97, 97);
  }
  
  .galeria1 {
    height: 426px;
    width: 640px;
    margin:1em auto;
    border: 3px solid rgba(53, 50, 24, 0.863);
    position: relative; 
  }
  
  .galeria1 img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2s;
  }
  
  .galeria1 input[type=radio] {
    position: relative;
    top: 445px;
    margin-left: 115px;
  }
  
  .galeria1 input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
    opacity: 1;
  }
  
  .galeria1 input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
    opacity: 1;
  }
  
  .galeria1 input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
    opacity: 1;
  }
  
  .galeria1 input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
    opacity: 1;
  }